# Default ignored files
/../../Laboratorio1 /.idea/shelf/
/../../Laboratorio1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Laboratorio1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Laboratorio1 /.idea/dataSources/
/../../Laboratorio1 /.idea/dataSources.local.xml
